<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2017, CESAR.
  ~ All rights reserved.
  ~
  ~ This software may be modified and distributed under the terms
  ~ of the BSD license. See the LICENSE file for details.
  ~
  ~
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="br.org.cesar.knot.lib">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
    </application>

</manifest>